body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#titleH1{
    margin: 3em;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
#main{
    display: block;
    margin: 1% 10% 10% 10%;
    background-color: rgba(110, 146, 104, 0.664);
}

#description{
    padding-bottom: 0%;
}

#name, #email{
    margin-left: 30px;
    width: 40%;
    height: auto;
}
#number{
    width: 10%;
    margin-left: 40px;
}
.gap{
    margin: 2em;
    padding: 1.2em;
    padding-top: 0em;
}

.gapTextArea{
    margin: 2em;
    height: 5em;
    padding: 1.2em;
    padding-top: 0em;
}


.center{
    margin-left: 40%;
    margin-right: 50%;
}

#textArea{
    resize: none;
    width: 80%;
    height: 80%;
}

.Button{
    display: block;
    justify-items: center;
    margin: 2em;
    padding: 1.2em;
}

#submit{
    font-size: 100%;
    display: block;
    border-radius: 8px;
    border-style: solid;
    border-color: rgba(27, 151, 233, 0.747);
    padding: 1% 3% 1% 3%;
    color: white;
    background-color: rgba(27, 151, 233, 0.747);
    bottom: 2em;
}